.form-group > div{
	position:relative;
}
.form-file-btn{
	position:relative;
	overflow:hidden;
}
.form-file-input {
	position: absolute;
	top: -4px;
	right: -2px;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	font-size: 1000px
}
.form-file-btn input{
	position: absolute;
    right: 0px;
    top: 0px;
    font-family: Arial;
    font-size: 118px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 100%;
}
