input[type="checkbox"]{
    margin:0;
}
.list-block input[type="text"],
.list-block input[type="password"],
.list-block input[type="search"],
.list-block input[type="email"],
.list-block input[type="tel"],
.list-block input[type="url"],
.list-block input[type="date"],
.list-block input[type="datetime-local"],
.list-block input[type="time"],
.list-block input[type="number"],
.list-block select,
.list-block textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border: none;
  background: none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  display: block;
  padding: 0px;
  margin: 0;
  width: 100%;
  height: 43px;
  color: #000;
  font-size: 17px;
  font-family: inherit;
}
.list-block .item-title.label {
  vertical-align: top;
}
.list-block .item-title.label + .item-input {
  margin-left: 5px;
}
.button {
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  text-align: center;
  display: block;
  border-radius: 5px;
  line-height: 27px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  padding: 0 10px;
  margin: 0;
  height: 29px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  outline: 0;
}
.label-switch {
  display: inline-block;
  vertical-align: middle;
  width: 52px;
  border-radius: 16px;
  box-sizing: border-box;
  height: 32px;
  position: relative;
  cursor: pointer;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.label-switch .checkbox {
  width: 52px;
  border-radius: 16px;
  box-sizing: border-box;
  height: 32px;
  background: #e5e5e5;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.label-switch .checkbox:before {
  content: ' ';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 48px;
  border-radius: 16px;
  box-sizing: border-box;
  height: 28px;
  background: #fff;
  z-index: 1;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.label-switch .checkbox:after {
  content: ' ';
  height: 28px;
  width: 28px;
  border-radius: 28px;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 2px;
  left: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.label-switch input[type="checkbox"] {
  display: none;
}
.label-switch input[type="checkbox"]:checked + .checkbox {
  background: #4cd964;
}
.label-switch input[type="checkbox"]:checked + .checkbox:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.label-switch input[type="checkbox"]:checked + .checkbox:after {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
label.label-checkbox input[type="checkbox"],
label.label-checkbox input[type="radio"] {
    opacity: 0;
    position:absolute;
    top:11px;
    height:22px;
    width: 22px;
    left:15px;
}
label.label-checkbox i.icon-form-checkbox {
  width: 22px;
  height: 22px;
  position: relative;
  border-radius: 22px;
  border: 1px solid #c7c7cc;
  box-sizing: border-box;
}
label.label-checkbox i.icon-form-checkbox:after {
  content: ' ';
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: 50%;
  margin-top: -4px;
  width: 12px;
  height: 9px;
}
label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox {
  border: none;
  background-color: #007aff;
}
label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox:after,
label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox:after {
  background: no-repeat center;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F%3E%3C%2Fsvg%3E");
  -webkit-background-size: 12px 9px;
  background-size: 12px 9px;
}
