/* === Relation between toolbar/navbar types and pages === */
.page > .navbar,
.view > .navbar,
.views > .navbar,
.page > .toolbar,
.view > .toolbar,
.views > .toolbar {
  position: absolute;
}
/* === Toolbars === */
.navbar,
.toolbar {
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  font-size: 17px;
  position: relative;
  margin: 0;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.navbar {
  left: 0;
  top: 0;
  border-bottom: 1px solid #a7a7aa;
}
.navbar-inner,
.toolbar-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.navbar .center {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 44px;
  -webkit-flex-shrink: 10;
  -ms-flex: 0 10 auto;
  flex-shrink: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.navbar .left,
.navbar .right {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.navbar .left {
  margin-right: 10px;
}
.navbar .right {
  margin-left: 10px;
}

.navbar button {
  line-height: 44px;
  height: 44px;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
.navbar button {
  color:#007aff;
  font-size: 17px;
}
.navbar button i+span{
  margin-left: 7px;
}