
/* === Relation between toolbar/navbar types and pages === */
.page > .navbar,
.view > .navbar,
.views > .navbar,
.page > .toolbar,
.view > .toolbar,
.views > .toolbar {
  position: absolute;
}
.subnavbar ~ .page-content {
  padding-top: 44px;
}
.navbar-through .page-content,
.navbar-fixed .page-content {
  padding-top: 44px;
}
