.navbar-on-left .sliding,
.navbar-from-center-to-left .sliding {
  opacity: 0;
}
.navbar-on-left .left,
.navbar-on-left .right,
.navbar-on-left .center,
.navbar-on-left .subnavbar,
.navbar-on-left .fading {
  opacity: 0;
}
.navbar-on-right .sliding {
  opacity: 0;
}
.navbar-from-right-to-center .sliding {
  opacity: 1;
}
.navbar-from-center-to-right .sliding {
  opacity: 0;
}

@-webkit-keyframes navbarElementFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes navbarElementFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.navbar-from-center-to-left .left,
.navbar-from-center-to-left .right,
.navbar-from-center-to-left .center,
.navbar-from-center-to-left .subnavbar,
.navbar-from-center-to-left .fading {
  -webkit-animation: navbarElementFadeOut 400ms forwards;
  animation: navbarElementFadeOut 400ms forwards;
}
.navbar-from-right-to-center .sliding,
.navbar-from-center-to-right .sliding,
.navbar-from-center-to-left .sliding,
.navbar-from-left-to-center .sliding {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-animation: none;
  animation: none;
}